.container
  = render "layouts/nav"
  / Приветствие
  .jumbotron
    %h2 Дистанционное образование в МПТ
    %br
      %p.lead
        Система онлайн-семинаров, позволяет проводить занятия дистанционно.
        %br Это удобно!
      %br
        %br
          = link_to "Начать", "/auth/google_oauth2", class: "btn btn-small btn-success"
  %hr
    / Колоны
    .body-content
      .row
        .span4
          %h3 Быстрый старт
          %p Для работы с нашей системой, Вам не надо проходить утомительную процедуру регистрации. Авторизация происходит через Ваш Google аккаунт. Работа происходит прямо из браузера, не нужно устанавливать никакого дополнительного ПО.
        .span4
          %h3 Удобный интерфейс
          %p Во время использования системы, у Вас не будет возникать вопросов по работе с ней.
        .span4
          %h3 Стабильная работа
          %p Вы можете общаться с преподавателем и другими студентами, просматривать и загружать файлы, без сбоев, что позволит сосредоточиться на учебе.
/ /container