
    <div class="container">

<%= render "layouts/nav" %>

      <!-- Приветствие -->
      <div class="jumbotron">
        <h2>Дистанционное образование в МПТ</h2>
        <br>
        <p class="lead">Система онлайн-вебинаров, позволяет проводить занятия дистанционно.<br> Это удобно!</p>
        <br><br>
        <%= link_to "Начать", "/auth/google_oauth2", :class => "btn btn-small btn-success" %>
      </div>

      <hr>

      <!-- Колоны -->
      <div class="row-fluid">
        <div class="span4">
          <h3>Быстрый старт</h3>
          <p>Для работы с нашей системой, Вам не надо проходить утомительную процедуру регистрации. Авторизация происходит через Ваш Google аккаунт. Работа происходит прямо из браузера, не нужно устанавливать никакого дополнительного ПО. </p>
        </div>
        <div class="span4">
          <h3>Удобный интерфейс</h3>
          <p>Во время использования системы, у Вас не будет возникать вопросов по работе с ней.</p>
       </div>
        <div class="span4">
          <h3>Стабильная работа</h3>
          <p>Вы можете общаться с преподавателем и другими студентами, просматривать и загружать файлы, без сбоев, что позволит сосредоточиться на учебе.</p>
        </div>
      </div>


    </div> <!-- /container -->

