              <li class="span4">
                <div class="thumbnail">
                  <img data-src="" alt="">
                  <div class="caption">
                    <h3><%= room.title %></h3>
                    <p><%= room.description %></p>
                    <p><%= link_to "Войти", room, :class => "btn btn-primary" %></p>
                  </div>
                </div>
              </li>