<!-- Навигация -->
      <div class="masthead">
        <h3 class="muted">МПТ РГТЭУ</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><%= link_to "Главная", root_path %></li>
                <li><a href="#">F.A.Q</a></li>
                <li><a href="#">Контакты</a></li>
                <li><%= link_to "Выйти", signout_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>